.navbar {
  background: transparent !important;
  box-shadow: none !important;
  transition: background 0.3s ease, box-shadow 0.3s ease;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
}

.logo-style {
}
.navbar.scrolled {
  background: rgba(255, 255, 255, 0.95);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
}

[data-theme="dark"] .navbar.scrolled {
  background: rgba(20, 20, 20, 0.9);
}

.navbar .nav-link {
  color: var(--textn) !important;
  font-weight: 600;
  margin-right: 5px;
}

.navbar .signup-btn {
  color: var(--textn) !important;
  border: 1px solid var(--primary);
  width: 80px;
}
.navbar .signup-btn:hover {
  background-color: transparent;
}

.navbar .navbar-nav {
  margin-left: 270px !important;
}

@media (max-width: 991.98px) {
  .navbar-collapse {
    background-color: transparent !important;
    transition: background-color 0.3s ease;
  }

  .navbar-collapse.show {
    background-color: #ffffff !important;
    padding: 1rem;
    border-radius: 0.5rem;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  }

  .navbar-collapse.show .nav-link {
    color: #212832 !important;
  }

  .navbar-collapse.show .signup-btn {
    color: #212832 !important;
    border-color: #212832;
  }
}

.btn-theme {
  border: #ffffff;
  background-color: transparent;
}

.btn-theme:hover {
  background-color: transparent;
}

[data-theme="dark"] .navbar-brand img {
  filter: brightness(0) invert(1);
}

[data-theme="light"] .navbar-brand img {
  filter: none;
}
